.navbar {
  height: 15em;
  background-color: #DE9A52;
}
.btn {
  padding: 35px;
  font-size: 2em;
  margin-right: 50px;
  font-family: "Englebert", sans-serif;
  background-color: green;
}
.btn:hover {
  color: white;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}
.icon:hover {
  color: white;
}
i {
  padding: 5px;
}
.HUDstats .navbar-text:hover {
  -webkit-stroke-width: 15.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 2px 0px 20px green;
  color: white;
  cursor: url(http://ani.cursors-4u.net/smiley/smi-3/smi307.cur), progress !important;
}
.HUDstats .navbar-text {
  color: #666666;
  transition: all 0.3s ease-in;
  text-decoration: none;
  font-family: "Englebert", sans-serif;
}
