body {
  padding-top: 50px;
  font-family: 'Englebert', sans-serif;
  /*background-image: url('skulls.png');
  background-color: rgba(0,255,0,.2);*/
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url('skulls.png');
}

.navbar {
  margin-top: -3rem;
}
.navbar .brandWrapper {
  width: 5rem;
  height: 5rem;
  display: inline-block;
}

.navbar .brandWrapper img {
  height: inherit;
  width: 100%;
}

.navbar ul,
.navbar ul li {
  display: inline-block;
}

.navbar ul li {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 5rem;
}

.boardWrapper {
  /*width: 95%;*/
  width: 1500px;
  margin: 5%;
  /*margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;*/
  /*padding-left: 1.1%;
  padding-right: 1.1%;*/
  background: url('../static/img/board.jpg')center center no-repeat;
  background-size: cover;
  border: 3px ridge #212121;
  box-shadow: -1px -1px 1px 1px #212121;
}

.boardWrapper .row {
  margin-left: -3px;
}
.board {
  width: 150px;
  height: 150px;
  /*padding-top:10%;*/
  margin: 0;
  float: left;
  background-size: cover;
  box-sizing: border-box;
  /*border: 1px solid black;*/
  border-right: 1px solid #212121;
  border-bottom: 1px solid #212121;
}

.junctionNYellow {
  background: url('../static/img/junction/yfork-N-yellow.png')center center no-repeat;
  background-size: cover;
}

.junctionEYellow {
  background: url('../static/img/junction/yfork-E-yellow.png')center center no-repeat;
  background-size: cover;
}

.junctionSYellow {
  background: url('../static/img/junction/yfork-S-yellow.png')center center no-repeat;
  background-size: cover;
}

.junctionWYellow {
  background: url('../static/img/junction/yfork-W-yellow.png')center center no-repeat;
  background-size: cover;
}

.junctionNBlue {
  background: url('../static/img/junction/yfork-N-blue.png')center center no-repeat;
  background-size: cover;
}

.junctionEBlue {
  background: url('../static/img/junction/yfork-E-blue.png')center center no-repeat;
  background-size: cover;
}

.junctionSBlue {
  background: url('../static/img/junction/yfork-S-blue.png')center center no-repeat;
  background-size: cover;
}

.junctionWBlue {
  background: url('../static/img/junction/yfork-W-blue.png')center center no-repeat;
  background-size: cover;
}

.junctionNGreen {
  background: url('../static/img/junction/yfork-N-green.png')center center no-repeat;
  background-size: cover;
}

.junctionEGreen {
  background: url('../static/img/junction/yfork-E-green.png')center center no-repeat;
  background-size: cover;
}

.junctionSGreen {
  background: url('../static/img/junction/yfork-S-green.png')center center no-repeat;
  background-size: cover;
}

.junctionWGreen {
  background: url('../static/img/junction/yfork-W-green.png')center center no-repeat;
  background-size: cover;
}

.junctionNRed {
  background: url('../static/img/junction/yfork-N-red.png')center center no-repeat;
  background-size: cover;
}

.junctionERed {
  background: url('../static/img/junction/yfork-E-red.png')center center no-repeat;
  background-size: cover;
}

.junctionSRed {
  background: url('../static/img/junction/yfork-S-red.png')center center no-repeat;
  background-size: cover;
}

.junctionWRed {
  background: url('../static/img/junction/yfork-W-red.png')center center no-repeat;
  background-size: cover;
}

.elbowYellow {
  background: url('../static/img/elbow/elbow-SW-yellow.png')center center no-repeat;
  background-size: cover;
}

.elbowSEYellow {
  background: url('../static/img/elbow/elbow-SE-yellow.png')center center no-repeat;
  background-size: cover;
}

.elbowNWYellow {
  background: url('../static/img/elbow/elbow-NW-yellow.png')center center no-repeat;
  background-size: cover;
}

.elbowNEYellow {
  background: url('../static/img/elbow/elbow-NE-yellow.png')center center no-repeat;
  background-size: cover;
}

.elbowBlue {
  background: url('../static/img/elbow/elbow-SW-blue.png')center center no-repeat;
  background-size: cover;
}

.elbowSEBlue {
  background: url('../static/img/elbow/elbow-SE-blue.png')center center no-repeat;
  background-size: cover;
}

.elbowNWBlue {
  background: url('../static/img/elbow/elbow-NW-blue.png')center center no-repeat;
  background-size: cover;
}

.elbowNEBlue {
  background: url('../static/img/elbow/elbow-NE-blue.png')center center no-repeat;
  background-size: cover;
}

.elbowRed {
  background: url('../static/img/elbow/elbow-SW-red.png')center center no-repeat;
  background-size: cover;
}

.elbowSERed {
  background: url('../static/img/elbow/elbow-SE-red.png')center center no-repeat;
  background-size: cover;
}

.elbowNWRed {
  background: url('../static/img/elbow/elbow-NW-red.png')center center no-repeat;
  background-size: cover;
}

.elbowNERed {
  background: url('../static/img/elbow/elbow-NE-red.png')center center no-repeat;
  background-size: cover;
}

.elbowGreen {
  background: url('../static/img/elbow/elbow-SW-green.png')center center no-repeat;
  background-size: cover;
}

.elbowSEGreen {
  background: url('../static/img/elbow/elbow-SE-green.png')center center no-repeat;
  background-size: cover;
}

.elbowNWGreen {
  background: url('../static/img/elbow/elbow-NW-green.png')center center no-repeat;
  background-size: cover;
}

.elbowNEGreen {
  background: url('../static/img/elbow/elbow-NE-green.png')center center no-repeat;
  background-size: cover;
}

.straightEWYellow {
  background: url('../static/img/straight/straight-EW-yellow.png')center center no-repeat;
  background-size: cover;
}

.straightNSYellow {
  background: url('../static/img/straight/straight-NS-yellow.png');
  background-size: cover;
}

.straightEWBlue {
  background: url('../static/img/straight/straight-EW-blue.png')center center no-repeat;
  background-size: cover;
}

.straightNSBlue {
  background: url('../static/img/straight/straight-NS-blue.png');
  background-size: cover;
}

.straightEWRed {
  background: url('../static/img/straight/straight-EW-red.png')center center no-repeat;
  background-size: cover;
}

.straightNSRed {
  background: url('../static/img/straight/straight-NS-red.png');
  background-size: cover;
}

.straightEWGreen {
  background: url('../static/img/straight/straight-EW-green.png')center center no-repeat;
  background-size: cover;
}

.straightNSGreen {
  background: url('../static/img/straight/straight-NS-green.png');
  background-size: cover;
}

.board span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin-left: 25%;
  font-size: 20px;
}

.board span i {
  position: relative;
  top: 50%;
  transform: translateY(-400%);
}

.board .playerHolder {
  float: left;
  height: inherit;
  width: 25px;
}

.board .playerHolder .playerMark {
  height: 25px;
  width: 100%;
}
h1 {
  font-size: 10em;
  text-align: center;
  color: white;
}

#greenL {
  background-color: green;
  height: 10em;
  text-align: left;
  box-shadow: 10px 10px 5px #888888;
  box-shadow: inset 0 -5px 5px rgba(0,0,0,0.5),
  inset 0 5px 5px rgba(255,255,255,.5);
}
#blueI {
  background-color: blue;
  height: 10em;
  text-align: left;
  box-shadow: 10px 10px 5px #888888;
  box-shadow: inset 0 -5px 5px rgba(0,0,0,0.5),
  inset 0 5px 5px rgba(255,255,255,.5);
}
#redF {
  background-color: #FF6200;
  height: 10em;
  text-align: left;
  box-shadow: 10px 10px 5px #888888;
  box-shadow: inset 0 -5px 5px rgba(0,0,0,0.5),
  inset 0 5px 5px rgba(255,255,255,.5);
}
#purpleE {
  background-color: purple;
  height: 10em;
  text-align: left;
  box-shadow: 10px 10px 5px #888888;
  box-shadow: inset 0 -5px 5px rgba(0,0,0,0.5),
  inset 0 5px 5px rgba(255,255,255,.5);
}

h3 {
  text-align: center;
}

#logo {
  margin: 1em;
  padding: 0em;
}

.numberOfPlayers {
  width: 2em;
  font-size: 2.5em;
  text-align: center;
  margin-top: .5em;
}

.topmargin {
  margin-top: 5em;
}

#enterBoard {
  margin-top: 15em;
}

#enterBoard .icon1 {
height: 2.5em;
font-size: 4em;
}

#enterBoard .pulse1 {
width: 80%;
}

#enterBoard .pulse2 {
width: 80%;
}

.numberOfPlayersLabel {
  font-size: 4em;
}

.playerFormInputs {
  margin-top: 1em;
  width: 12em;
  height: 4em;
}

.guestSignup h4 {
  margin-top: 2em;
  margin-left: 2em;
}

#navLinks {
  position: absolute;
  top: 18%;
  right: 12%;
  text-align: center;
}


/* Styling for the pop-up modal 'how to play' */
.btn {
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
  /* top: 40em;*/
}
.btn:hover {
  background: #357ebd;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: #aaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
/*
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  background: #fefefe;
  border: #333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  border-top: #eee solid 1px;
  text-align: right;
}*/

/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none;
}
