<div class='boardWrapper'>
  <div class='row'>
    <div class='board elbowSEBlue'><span><i class="fa fa-smile-o"></i></span></div>
    <div class='board elbowBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board'></div>
    <div class='board elbowSEYellow'><span><i class="fa fa-heartbeat"></i></span></div>
    <div class='board straightEWYellow'><span class='glyphicon glyphicon-tree-deciduous'></span></div>
    <div class='board straightEWYellow'><span class='glyphicon glyphicon-briefcase'></span></div>
    <div class='board junctionSGreen'><span class='glyphicon glyphicon-usd'></span></div>
    <div class='board straightEWYellow'><span class='glyphicon glyphicon-piggy-bank'></span></div>
    <div class='board straightEWYellow'><span class='glyphicon glyphicon-question-sign'></span></div>
    <div class='board elbowRed'><span class='glyphicon glyphicon-exclamation-sign'></div>
  </div><div class='row'>
    <div class='board straightNSGreen'><span class='glyphicon glyphicon-usd'></span></div>
    <div class='board straightNSBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board'></div>
    <div class='board straightNSYellow'><span class='glyphicon glyphicon-question-sign'></span></div>
    <div class='board'></div>
    <div class='board'></div>
    <div class='board elbowNEYellow'><span class='glyphicon glyphicon-piggy-bank'></span></div>
    <div class='board elbowBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board'></div>
    <div class='board straightNSYellow'><span class='glyphicon glyphicon-briefcase'></span></div>
  </div><div class='row'>
    <div class='board junctionWYellow'><span>S</span></div>
    <div class='board elbowNEBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board elbowBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board elbowNEBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board junctionSYellow'><span class='glyphicon glyphicon-tree-deciduous'></div>
    <div class='board straightEWYellow'><span><i class="fa fa-heartbeat"></i></span></div>
    <div class='board straightEWBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board elbowNWBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board'></div>
    <div class='board straightNSYellow'><span><i class="fa fa-heartbeat"></i></span></div>
  </div><div class='row'>
    <div class='board straightNSYellow'><span class='glyphicon glyphicon-question-sign'></span></div>
    <div class='board elbowSEBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board elbowNWBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board'></div>
    <div class='board junctionEGreen'><span class='glyphicon glyphicon-usd'></span></div>
    <div class='board straightEWBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board straightEWBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board junctionSYellow'><span class='glyphicon glyphicon-briefcase'></div>
    <div class='board elbowYellow'><span class='glyphicon glyphicon-remove'></span></div>
    <div class='board elbowNEBlue'><span><i class="fa fa-smile-o"></i></div>
  </div><div class='row'>
    <div class='board straightNSYellow'><span class='glyphicon glyphicon-plus'></span></div>
    <div class='board straightNSGreen'><span class='glyphicon glyphicon-education'></span></div>
    <div class='board elbowSEYellow'><span><i class="fa fa-cloud-upload"></i></span></div>
    <div class='board elbowBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board straightNSBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board elbowSEYellow'><span><i class="fa fa-heartbeat"></i></span></div>
    <div class='board elbowYellow'><span><i class="fa fa-cloud-upload"></i></div>
    <div class='board straightNSYellow'><span><i class="fa fa-heartbeat"></i></span></div>
    <div class='board elbowNEYellow'><span class='glyphicon glyphicon-screenshot'></span></div>
    <div class='board elbowGreen'><span class='glyphicon glyphicon-usd'></span></div>
  </div><div class='row'>
    <div class='board elbowNEYellow'><span class='glyphicon glyphicon-screenshot'></span></div>
    <div class='board junctionNRed'><span class='glyphicon glyphicon-exclamation-sign'></div>
    <div class='board elbowNWGreen'><span class='glyphicon glyphicon-usd'></span></div>
    <div class='board straightNSYellow'><span class='glyphicon glyphicon-remove'></span></div>
    <div class='board straightNSBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board elbowNEYellow'><span class='glyphicon glyphicon-remove'></span></div>
    <div class='board elbowNWBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board straightNSYellow'><span class='glyphicon glyphicon-screenshot'></span></div>
    <div class='board'></div>
    <div class='board straightNSYellow'><span class='glyphicon glyphicon-tree-deciduous'></div>
  </div><div class='row'>
    <div class='board elbowSEYellow'><span class='glyphicon glyphicon-briefcase'></span></div>
    <div class='board straightEWYellow'><span class='glyphicon glyphicon-plus'></span></div>
    <div class='board straightEWYellow'><span class='glyphicon glyphicon-tree-deciduous'></div>
    <div class='board elbowNWYellow'><span class='glyphicon glyphicon-screenshot'></span></div>
    <div class='board elbowNEBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board straightEWBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board straightEWBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board elbowNWBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board'></div>
    <div class='board straightNSBlue'><span><i class="fa fa-smile-o"></i></div>
  </div><div class='row'>
    <div class='board straightNSYellow'><span><i class="fa fa-cloud-upload"></i></div>
    <div class='board elbowSEBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board straightEWYellow'><span class='glyphicon glyphicon-briefcase'></span></div>
    <div class='board straightEWYellow'><span class='glyphicon glyphicon-piggy-bank'></span></div>
    <div class='board straightEWBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board straightEWYellow'><span class='glyphicon glyphicon-question-sign'></span></div>
    <div class='board straightEWYellow'><span class='glyphicon glyphicon-plus'></span></div>
    <div class='board straightEWBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board elbowYellow'><span><i class="fa fa-cloud-upload"></i></div>
    <div class='board straightNSYellow'><span><i class="fa fa-cloud-upload"></i></div>
  </div><div class='row'>
    <div class='board straightNSYellow'><span class='glyphicon glyphicon-piggy-bank'></span></div>
    <div class='board elbowNEYellow'><span class='glyphicon glyphicon-remove'></span></div>
    <div class='board straightEWYellow'><span class='glyphicon glyphicon-plus'></span></div>
    <div class='board straightEWBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board elbowYellow'><span><i class="fa fa-cloud-upload"></i></div>
    <div class='board elbowSEBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board elbowBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board'></div>
    <div class='board straightNSYellow'><span class='glyphicon glyphicon-screenshot'></span></div>
    <div class='board straightNSBlue'><span><i class="fa fa-smile-o"></i></div>
  </div><div class='row'>
    <div class='board elbowNEYellow'><span class='glyphicon glyphicon-remove'></span></div>
    <div class='board straightEWGreen'><span class='glyphicon glyphicon-usd'></span></div>
    <div class='board straightEWYellow'><span class='glyphicon glyphicon-tree-deciduous'></div>
    <div class='board straightEWYellow'><span class='glyphicon glyphicon-question-sign'></span></div>
    <div class='board junctionNRed'><span class='glyphicon glyphicon-exclamation-sign'></div>
    <div class='board elbowNWBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board elbowNEBlue'><span><i class="fa fa-smile-o"></i></div>
    <div class='board straightEWGreen'><span class='glyphicon glyphicon-heart'></span></div>
    <div class='board junctionNGreen'><span class='glyphicon glyphicon-usd'></span></div>
    <div class='board elbowNWYellow'><span class='glyphicon glyphicon-plus'></span></div>
  </div>
</div>
