<div class='boardWrapper'>
  <div class='row'>
    <div class='board elbow elbowSE'></div>
    <div class='board elbow'></div>
    <div class='board'></div>
    <div class='board elbow elbowSE'></div>
    <div class='board straightEW'></div>
    <div class='board straightEW'></div>
    <div class='board junctionEW junctionSEW'></div>
    <div class='board straightEW'></div>
    <div class='board straightEW'></div>
    <div class='board elbow elbowSW'></div>
  </div><div class='row'>
    <div class='board straight'></div>
    <div class='board straight'></div>
    <div class='board'></div>
    <div class='board straight'></div>
    <div class='board'></div>
    <div class='board'></div>
    <div class='board elbow elbowNE'></div>
    <div class='board elbow'></div>
    <div class='board'></div>
    <div class='board straight'></div>
  </div><div class='row'>
    <div class='board junctionNS'></div>
    <div class='board elbow elbowNE'></div>
    <div class='board elbow'></div>
    <div class='board elbow elbowNE'></div>
    <div class='board junctionEW junctionSEW'></div>
    <div class='board straightEW'></div>
    <div class='board straightEW'></div>
    <div class='board elbow elbowNW'></div>
    <div class='board'></div>
    <div class='board straight'></div>
  </div><div class='row'>
    <div class='board straight'></div>
    <div class='board elbow elbowSE'></div>
    <div class='board elbow elbowNW'></div>
    <div class='board'></div>
    <div class='board junctionNS junctionNES'></div>
    <div class='board straightEW'></div>
    <div class='board straightEW'></div>
    <div class='board junctionEW junctionSEW'></div>
    <div class='board elbow elbowSW'></div>
    <div class='board elbow elbowNE'></div>
  </div><div class='row'>
    <div class='board straight'></div>
    <div class='board straight'></div>
    <div class='board elbow elbowSE'></div>
    <div class='board elbow'></div>
    <div class='board straight'></div>
    <div class='board elbow elbowSE'></div>
    <div class='board elbow elbowSW'></div>
    <div class='board straight'></div>
    <div class='board elbow elbowNE'></div>
    <div class='board elbow'></div>
  </div><div class='row'>
    <div class='board elbow elbowNE'></div>
    <div class='board junctionEW'></div>
    <div class='board elbow elbowNW'></div>
    <div class='board straight'></div>
    <div class='board straight'></div>
    <div class='board elbow elbowNE'></div>
    <div class='board elbow elbowNW'></div>
    <div class='board straight'></div>
    <div class='board'></div>
    <div class='board straight'></div>
  </div><div class='row'>
    <div class='board elbow elbowSE'></div>
    <div class='board straightEW'></div>
    <div class='board straightEW'></div>
    <div class='board elbow elbowNW'></div>
    <div class='board elbow elbowNE'></div>
    <div class='board straightEW'></div>
    <div class='board straightEW'></div>
    <div class='board elbow elbowNW'></div>
    <div class='board'></div>
    <div class='board straight'></div>
  </div><div class='row'>
    <div class='board straight'></div>
    <div class='board elbow elbowSE'></div>
    <div class='board straightEW'></div>
    <div class='board straightEW'></div>
    <div class='board straightEW'></div>
    <div class='board straightEW'></div>
    <div class='board straightEW'></div>
    <div class='board straightEW'></div>
    <div class='board elbow elbowSW'></div>
    <div class='board straight'></div>
  </div><div class='row'>
    <div class='board straight'></div>
    <div class='board elbow elbowNE'></div>
    <div class='board straightEW'></div>
    <div class='board straightEW'></div>
    <div class='board elbow'></div>
    <div class='board elbow elbowSE'></div>
    <div class='board elbow elbowSW'></div>
    <div class='board'></div>
    <div class='board straight'></div>
    <div class='board straight'></div>
  </div><div class='row'>
    <div class='board elbow elbowNE'></div>
    <div class='board straightEW'></div>
    <div class='board straightEW'></div>
    <div class='board straightEW'></div>
    <div class='board junctionEW'></div>
    <div class='board elbow elbowNW'></div>
    <div class='board elbow elbowNE'></div>
    <div class='board straightEW'></div>
    <div class='board junctionEW'></div>
    <div class='board elbow elbowNW'></div>
  </div>
</div>
