<!-- <!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>LISATYD</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/styleHUD.css">
<link rel="stylesheet" href="./css/stylebuttons.css">
  <link rel="stylesheet" href="./css/styleshare.css">
  <link href='https://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
</head>
<body> -->

<center>
  <footer class="navbar-fixed-bottom" id="hideFooter" ng-click="show = !show">
    <i class="fa fa-caret-down"></i>
    <p> .</p>
    <p> .</p>
    <p>S</p>
    <p>T</p>
    <p>A</p>
    <p>T</p>
    <p>S</p>
  </footer>
</center>
  <footer class="navbar-fixed-bottom" ng-hide="!show">
  </footer>
<footer class="navbar navbar-default navbar-fixed-bottom" ng-show="show">

  <div class="container-fluid">
    <div class="HUDstats navbar-text"><h2 class="navbar-text" ng-model="name"><i class="fa fa-female"></i>Lori</h2></div>
    <div class="HUDstats navbar-text"> <h2 class="navbar-text" ng-model="money"><i class="fa fa-money"></i>$3</h2></div>
    <div class="HUDstats navbar-text"><h2 class="HUDstats navbar-text" ng-model="addiction"><svg class="icon icon-aid-kit"><i class="fa fa-medkit"></i>Meth Addiction</h2></div>
    <div class="HUDstats navbar-text"><h2 class="navbar-text" ng-model="marriage"><svg class="icon icon-aid-kit"><i class="fa fa-diamond"></i>Married</h2></div>
    <div class="HUDstats navbar-text"><h2 class="navbar-text" ng-model="children"><svg class="icon icon-aid-kit"><i class="fa fa-child"></i>2 Children</h2></div>
    <div class="HUDstats navbar-text" style="margin-left: -1em;"><h2 class="navbar-text" ng-model="college"><svg class="icon icon-aid-kit"><i class="fa fa-graduation-cap"></i>College: Expelled</h2></div>
    <div class="HUDstats navbar-text" style="margin-left: -1em;"><h2 class="navbar-text" ng-model="occupation"><svg class="icon icon-aid-kit"><i class="fa fa-briefcase"></i>Unemployed</h2></div>
    <div class="HUDstats navbar-text" style="margin-left: 2em;"><h2 class="navbar-text" ng-model="salary"><svg class="icon icon-aid-kit"><i class="fa fa-university"></i>Salary: $0</h2></div>
    <div class="HUDstats navbar-text" style="margin-left: .9em;"><h2 class="navbar-text" ng-model="happysad"><svg class="icon icon-aid-kit"><span>Happiness: </span><i class="fa fa-frown-o"></i></h2></div>
      <a class="navbar-btn btn-success btn pull-right" style="margin-top: -2em;">ROLL</a>

  </div>
</footer>

 <!-- <script src="./js/app.js"></script>
  <script src="./js/controllers.js"></script>
  <script src="./js/directives.js"></script>
  <script src="./js/services.js"></script>
  <script src="./js/factories.js"></script>
  <script src="./js/filters.js"></script>
  <script src="./js/routes.js"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html> -->
