<div id="logo">
  <div class="row">
  <div class="col-md-4">
    <div class="col-md-3" id="greenL">
      <h1>L</h1>
    </div>
    <div class="col-md-3" id="blueI">
      <h1>I</h1>
    </div>
    <div class="col-md-3" id="redF">
      <h1>F</h1>
    </div>
    <div class="col-md-3" id="purpleE">
      <h1>E</h1>
    </div>
  </div>
  <div class="col-md-4">

  </div>

  <div class="col-md-4">

  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3><i>
  {{ MC.title }}
  </h3></i>
  </div>
</div>
</div>
<div class="row">
    <div class="top">
    <div class="pulse1"></div>
    <div class="pulse2"></div>
    <div class="icon1"> START NEW GAME!</div>
</div>

</div>




<h4><i>
  <!-- {{ MC.subtitle }} -->
</i></h4>

<div id="share">
  <section>
      <article>
          <h1>SHA</h1>
      </article>
      <article>
        <center>
          <a href="https://www.facebook.com"><img class="img-responsive facebook" src="https://lh3.googleusercontent.com/ZZPdzvlpK9r_Df9C3M7j1rNRi7hhHRvPhlklJ3lfi5jk86Jd1s0Y5wcQ1QgbVaAP5Q"></a>
        </center>
      </article>
  </section>
  <section>
      <article>
          <h1>ARE</h1>
      </article>
      <article>
        <center>
          <a href="https://www.twitter.com"><img class="img-resonsive twitter" src="https://lh3.ggpht.com/lSLM0xhCA1RZOwaQcjhlwmsvaIQYaP3c5qbDKCgLALhydrgExnaSKZdGa8S3YtRuVA"></a>
        </center>
      </article>
  </section>
</div>
<div id="navLinks">
<a href="#"><h4> How to Play </h4></a>
<a href="#"><h4> Log In </h4></a>
<button ng-click="MC.toggleModal()" class="btn btn-default">Sign Up</button>
 <modal title="Sign up!" visible="MC.showModal">
    <form role="form">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="firstname" class="form-control" id="firstname" placeholder="Enter first name" />
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="lastname" class="form-control" id="lastname" placeholder="Enter last name" />
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </modal>
</div>
<!-- <div>
  <script type='text/ng-template' id='signUp.html'>
    <div class='modal-header'>
      <h3 class='modal-title'>Sign Up</h3>
    </div>
    <div class='modal-body'>
      <form>
        <input type='text' ng-model='username'>
        <input type='text' ng-model='email'>
        <input type='text' ng-model='password'>
        <button type='submit' ng-click='MC.signUp(username, email, password)'>Sign up!</button>
      </form>
      <div class='modal-footer'>
        <button class='btn btn-warning' type='button' ng-click='cancel()'>Cancel</button>
      </div>
    </div>
  </script>
</div> -->

<!-- REMEMBER to inject ngDialog when ready to use -->


<!-- END Pop up modal -->
