<div id="logo">
  <div class="row">
  <div class="col-md-4">
    <div class="col-md-3" id="greenL">
      <h1>L</h1>
    </div>
    <div class="col-md-3" id="blueI">
      <h1>I</h1>
    </div>
    <div class="col-md-3" id="redF">
      <h1>F</h1>
    </div>
    <div class="col-md-3" id="purpleE">
      <h1>E</h1>
    </div>
  </div>
  <div class="col-md-4">

  </div>

  <div class="col-md-4">

  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3><i>
  {{ MC.title }}
  </h3></i>
  </div>
</div>
</div>
<div class="row">
    <div class="top">
    <div class="pulse1"></div>
    <div class="pulse2"></div>
    <a href="#/newgame"><div class="icon1"> Start New Game!</div></a>
</div>

</div>




<h4><i>
  <!-- {{ MC.subtitle }} -->
</i></h4>

<div id="share">
  <section>
      <article>
          <h1>SHA</h1>
      </article>
      <article>
        <center>
          <a href="https://www.facebook.com"><img class="img-responsive facebook" src="https://lh3.googleusercontent.com/ZZPdzvlpK9r_Df9C3M7j1rNRi7hhHRvPhlklJ3lfi5jk86Jd1s0Y5wcQ1QgbVaAP5Q"></a>
        </center>
      </article>
  </section>
  <section>
      <article>
          <h1>ARE</h1>
      </article>
      <article>
        <center>
          <a href="https://www.twitter.com"><img class="img-resonsive twitter" src="https://lh3.ggpht.com/lSLM0xhCA1RZOwaQcjhlwmsvaIQYaP3c5qbDKCgLALhydrgExnaSKZdGa8S3YtRuVA"></a>
        </center>
      </article>
  </section>
</div>
<div id="navLinks">
  <div>
    <button class='howToPlayLink' href="#" ng-click="MC.toggleModal()"><h4> How to Play </h4></button>
  </div>
  <modal title="How to Play" visible="MC.showModal">
    <div class="gamenarrative">
      <p>This game is awesome. You will love it. You may find yourself addicted to a dangerous substance and you may die an early death. That's what makes this game super fun. GO PLAY!</p>
    </div>
  </modal>


<!-- REMEMBER to inject ngDialog when ready to use -->


<!-- END Pop up modal -->
