<!-- <div class="row topmargin">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-6">
      <h2 class="numberOfPlayersLabel"> Number of players: </h2>
    </div>
    <div class="col-md-2">
      <input type="number" class="numberOfPlayers" name="quantity" min="1" max="6" ng-model="NGC.numberOfPlayers" placeholder="1">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div> -->

<div class="row topmargin" ng-repeat="player in NGC.players">
  <div class="col-md-6 col-md-offset-3">
    <center>
    <div class="col-md-4">
      <h4>Player:</h4>
    </div>
    <div class="col-md-4">
      <h4>{{ player.name }}</h4>
    </div>
    <div class="col-md-4">
      <h4>{{ player.color }}</h4>
    </div>
  </center>
  </div>
</div>

<div class="row topmargin">
  <div class="col-md-10 col-md-offset-1">

    <div class="col-md-3">
      <h2 class="numberOfPlayersLabel"> Sign in: </h2>
    </div>
    <div class="col-md-3">
      <input type="text" class="playerFormInputs" name="emailInput" ng-model="NGC.emailInput" placeholder="Enter Email">
    </div>
    <div class="col-md-2">
      <input type="text" class="playerFormInputs" name="passwordInput" ng-model="NGC.passwordInput" placeholder="Enter Password">
    </div>
    <div class="col-md-2">
      <div class="guestSignup"><a href="#/guest"><h4>Guest</a> / <a href="#/signup" ng-click="MC.toggleModal()">Sign-up</h4></a></div>
    </div>
    <div class="col-md-1">
      <button id="plusButton">+</button>
    </div>
    <div class="col-md-1">
      <button id="minusButton">-</button>
    </div>
    <modal title="Sign up!" visible="MC.showModal">
       <form role="form">
         <div class="form-group">
           <label for="firstname">First Name</label>
           <input type="firstname" class="form-control" id="firstname" placeholder="Enter first name" />
         </div>
         <div class="form-group">
           <label for="lastname">Last Name</label>
           <input type="lastname" class="form-control" id="lastname" placeholder="Enter last name" />
         </div>
         <div class="form-group">
           <label for="email">Email address</label>
           <input type="email" class="form-control" id="email" placeholder="Enter email" />
         </div>
         <div class="form-group">
           <label for="password">Password</label>
           <input type="password" class="form-control" id="password" placeholder="Password" />
         </div>
         <button type="submit" class="btn btn-default">Submit</button>
       </form>
     </modal>
  </div>
</div>
<!-- <button ng-click="MC.toggleModal()" class="btn btn-default">Sign Up</button> -->

<!-- </div> -->

<!-- <center>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <input type="button" value="Add Player To Game" ng-click="NGC.signin()">
  </div>
</div>
</center> -->

<div class="row" id="enterBoard">
  <div class="col-md-6 col-md-offset-3">
    <div class="pulse1"></div>
    <div class="pulse2"></div>
    <button class="icon1" name="enterGame" style="background-color: rgba(255,255,255,.1)">Enter Game!</button>
  </div>
</div>

<!-- LOADING TIMER -->

<!-- <div class="sk-circle">
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div> -->




<!--
