<div class="row topmargin">
  <div class="col-md-12">
    <div class='row signUpBar'>
      <div class="col-md-2 col-md-offset-1">
        <h2 class="numberOfPlayersLabel"> Sign in: </h2>
        <div class="row">
          <div class="col-md-3">
            <a ng-click="MC.toggleModal4()"><h4 class="guestLink">Guest</h4></a>
          </div>
          <div class="col-md-1">
            <h4 style="margin-top: .6em; margin-left: .4em;"> /</h4>
          </div>
          <div class="col-md-6">
            <a ng-click="NGC.toggleModal5()"><h4 class="signupLink">Sign Up</h4></a>
          </div>
          <div class="col-md-1">
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <input type="text" class="playerFormInputs" name="emailInput" ng-model="NGC.signinInfo.email" placeholder="Enter Email">
      </div>
      <div class="col-md-1">
        <input type="password" class="playerFormInputs" name="passwordInput" ng-model="NGC.signinInfo.password" placeholder="Enter Password">
      </div>
      <div class='col-md-1'>

    </div>

      <div class='col-md-3' style="margin-left: -2em;">
        <div class='row colorPalette' style="margin-top: -.4em; margin-left: 2em;" ng-class='{"faded": emailInput && passwordInput}'>
          <div class='col-md-2 col-md-offset-1' style="margin-top: .5em;">
            <p><br>Pick<br>Your<br> Color!</p>
          </div>
          <div class='col-md-8' style="margin-top: .2em; margin-left: 1em">
              <ul class='colorListSub colorListModal'>
                <li class="red" ng-click='NGC.colorPick("red")'></li>
                <li class="orange" ng-click='NGC.colorPick("orange")'></li>
                <li class="blue" ng-click='NGC.colorPick("blue")'></li>
              </ul>
                <ul class='colorListSub'>
                  <li class="yellow" ng-click='NGC.colorPick("yellow")'></li>
                  <li class="olive" ng-click='NGC.colorPick("olive")'></li>
                  <li class="teal" ng-click='NGC.colorPick("teal")'></li>
                </ul>
          </div>
          <div class='col-md-1'>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <button type="button" id="addBtn" ng-click="NGC.signin();">Add Player</button>
      </div>
    </div>

      <div class="row topmargin">
        <div class="col-md-6" ng-repeat="player in NGC.players">
          <center>
          <div class="col-md-4">
            <h4 class='playerName'>Player:</h4>
          </div>
          <div class="col-md-4">
            <h4>{{ player.name }}</h4>
          </div>
          <div class="col-md-4">
            <h4>{{ player.color }}</h4>
          </div>
        </center>
        </div>
      </div>
    </div>
    <div class="col-md-2">

      <modal title="Guest Signup" visible="MC.showModal4">
        <div class="guest" style="margin-left: 3em;">
            <div class='row colorPalette guestColor'>
              <div class='col-md-2 col-md-offset-1'>
                <p><br>Pick<br>Your<br> Color!</p>
              </div>
              <div style="margin-top: 1.5em; margin-left: 8em;">
                  <ul class='colorListSub'>
                    <li class="red" ng-click='NGC.colorPick("red")'></li>
                    <li class="orange" ng-click='NGC.colorPick("orange")'></li>
                    <li class="blue" ng-click='NGC.colorPick("blue")'></li>
                  </ul>
                    <ul class='colorListSub'>
                      <li class="yellow" ng-click='NGC.colorPick("yellow")'></li>
                      <li class="olive" ng-click='NGC.colorPick("olive")'></li>
                      <li class="teal" ng-click='NGC.colorPick("teal")'></li>
                    </ul></div>
              <div class='col-md-1'>
                
              </div>
          </div>
           <button type="submit" ng-click="NGC.guestSubmit()" class="btn btn-default guestSubmitBtn">Add Guest</button>
          </form>
        </div>
      </modal>
      </div>

        <modal title="Sign up!" visible="NGC.showModal5">
          <form role="form">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="firstname" class="form-control" id="firstname" placeholder="Enter first name" ng-model="NGC.signupInfo.name" />
            </div>
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="lastname" class="form-control" id="lastname" placeholder="Enter last name" />
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="NGC.signupInfo.email"/>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" ng-model="NGC.signupInfo.password"/>
            </div>
          <button type="submit" class="btn btn-default submitSignUpBtn" ng-click="NGC.signup()" class="btn btn-default">Submit</button>
        </form>
      </modal>
    </div>

<div class="row" id="enterBoard">
  <div class="col-md-6 col-md-offset-3">
    <div class="pulse1"></div>
    <div class="pulse2"></div>
    <div class="icon2" type="button" name="enterGame" ng-click="NGC.startGame()">Enter Game!</button>
  </div>
</div>

<!-- <hud-footer></hud-footer> -->
