<!-- <div class="row topmargin">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-6">
      <h2 class="numberOfPlayersLabel"> Number of players: </h2>
    </div>
    <div class="col-md-2">
      <input type="number" class="numberOfPlayers" name="quantity" min="1" max="6" ng-model="NGC.numberOfPlayers" placeholder="1">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div> -->

<div class="row topmargin">
  <div class="col-md-12">
    <div class='row signUpBar'>
      <div class="col-md-2 col-md-offset-1">
        <h2 class="numberOfPlayersLabel"> Sign in: </h2>
      </div>
      <div class="col-md-2">
        <input type="text" class="playerFormInputs" name="emailInput" ng-model="emailInput" placeholder="Enter Email">
      </div>
      <div class="col-md-1">
        <input type="password" class="playerFormInputs" name="passwordInput" ng-model="passwordInput" placeholder="Enter Password">
      </div>
      <div class='col-md-1'>

      </div>
      <div class='col-md-3'>
        <div class='row colorPalette'>
          <div class='col-md-2 col-md-offset-1'>
            <p><br>Pick<br>Your<br> Color!</p>
          </div>
          <div class='col-md-8'>
              <ul class='colorListSub'>
                <li class="red" ng-click='NGC.colorPick("red")'></li>
                <li class="orange" ng-click='NGC.colorPick("orange")'></li>
                <li class="blue" ng-click='NGC.colorPick("blue")'></li>
              </ul>
                <ul class='colorListSub'>
                  <li class="yellow" ng-click='NGC.colorPick("yellow")'></li>
                  <li class="olive" ng-click='NGC.colorPick("olive")'></li>
                  <li class="teal" ng-click='NGC.colorPick("teal")'></li>
                </ul>
          </div>
          <div class='col-md-1'>

          </div>
        </div>
      </div>
      <div class="col-md-1">
        <button type="button" class='addBtn' ng-click="NGC.signin(emailInput, passwordInput); emailInput = null">Add Player</button>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3 col-md-offset-1'>
        <div class="guestSignup"><button class="btn guestBtn btn-default" ng-click="MC.toggleModal4()"><h4>Guest</button></div>
        <div class="signInNewGamePage"><button class="btn guestBtn btn-default" ng-click="MC.toggleModal5()"><h4>Sign Up!</button></div>
      </div>
    </div>
    <div class="col-md-2">

       <modal title="Guest Signup" visible="MC.showModal4">
        <div class="guest">
          <form class="form">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="firstname" class="form-control" id="firstname" placeholder="Enter first name" />
            </div>
            <p>Pick Your Color!</p>
              <ul class="colorList">
                <ul class='colorListSub'>
                  <li class="red"></li>
                  <li class="orange"></li>
                  <li class="blue"></li>
                </ul>
                <ul class='colorListSub'>
                  <li class="yellow"></li>
                  <li class="olive"></li>
                  <li class="teal"></li>
                </ul>

              </ul>
          <br>
           <button type="submit" ng-click="MC.guestSubmit(color)" class="btn btn-default">Submit</button>
          </form>
        </div>
      </modal>
      </div>

        <modal title="Sign up!" visible="MC.showModal5">
          <form role="form">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="firstname" class="form-control" id="firstname" placeholder="Enter first name" />
            </div>
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="lastname" class="form-control" id="lastname" placeholder="Enter last name" />
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" />
            </div>
          <button type="submit" class="btn btn-default" ng-click="MC.signupSubmit(firstname, lastname, email, password)" class="btn btn-default">Submit</button>
        </form>
      </modal>
    </div>


<div class='row'>
  <div class='col-md-4 col-md-offset-4' ng-show='emailInput && passwordInput'>
    <p>Pick Your Color!</p>
      <ul class="colorList">
        <ul class='colorListSub'>
          <li class="red"></li>
          <li class="orange"></li>
          <li class="blue"></li>
        </ul>
        <ul class='colorListSub'>
          <li class="yellow"></li>
          <li class="olive"></li>
          <li class="teal"></li>
        </ul>

      </ul>
  </div>
</div>
<div class="row">

</div>

<div class="row topmargin" ng-repeat="player in NGC.players">
  <div class="col-md-6 col-md-offset-3">
    <center>
    <div class="col-md-4">
      <h4>Player:</h4>
    </div>
    <div class="col-md-4">
      <h4>{{ player.name }}</h4>
    </div>
    <div class="col-md-4">
      <h4>{{ player.color }}</h4>
    </div>
  </center>
  </div>
</div>

<div class="row" id="enterBoard">
  <div class="col-md-6 col-md-offset-3">
    <div class="pulse1"></div>
    <div class="pulse2"></div>
    <button class="icon1" type="button" name="enterGame">Enter Game!</button>
  </div>
</div>
