<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Create Game</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form class="" action="#" method="">
        <!-- how many players? -->
        <label for="email">Email</label>
        <input type="email" value="" ng-model="NG.email">
        <label for="password">Password</label>
        <input type="text" value="" ng-model="NG.password">
        <!-- play as guest? -->
        <input type="button" name="name" value="signin" ng-click="signin()">
      </form>
    </div>
  </div>


</div><!--end of container -->
